<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentDataBase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>FacultyLoginController</servlet-name>
  <servlet-class>com.project.FacultyLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FacultyLoginController</servlet-name>
  <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>StudentInsert</servlet-name>
  <servlet-class>com.project.StudentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StudentInsert</servlet-name>
  <url-pattern>/enroll/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>AttendenceUpdate</servlet-name>
  <servlet-class>com.project.AttendenceUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AttendenceUpdate</servlet-name>
  <url-pattern>/update/*</url-pattern>
  </servlet-mapping>
  </web-app>